body{
  margin: 0;
}

.chartContainer{
	position: relative;
	margin: 100px auto;
	width: 100%;	
	max-width: 700px;
	max-height: 600px;
}

#experimentoCant{
	display: inline-block;
    width: 100%;
    max-width: 500px;
    float: left;
}

#calcularFrecuenciabtn{
	display: inline-block;
	float: right;
}

#tablaFrecuenciaSimple{
	display: none;
}